@import "styles/style.pcss";

:root {
  /* typography */
  --font-family: Roboto, Helvetica, sans-serif;
  --font-weight: normal;
  --font-size: 12px !important;
}

#root {
  position: relative;
}

body, html {
  height: 100% !important;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--base);
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
}
